// Projects

.eq-st-ui-public-profile-projects {

    // Header
    .eq-ui-collapsible-header {

        ul {
            width: 100%;
            padding: 0;
            line-height: 24px;
            li {
                margin: 0;
                font-size: 13px;
                color: #9b9b9b;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 0;
                padding-right: 0;
                .eq-st-ui-public-profile-projects-body-activity {
                    line-height: 24px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #525558;

                    > span {
                        line-height: 24px;
                        font-size: 13px;
                        font-weight: 400;
                        color: #9b9b9b;
                        margin-top: 8px;
                        display: block;
                        span {
                            font-weight: 700;
                        }
                    }
                }

                .eq-st-ui-public-profile-projects-body-project {
                    text-align: right;
                    line-height: 24px;

                    span {
                        line-height: 24px;
                        margin-top: 8px;
                        display: block;
                        font-size: 14px;
                        color: #525558;
                    }
                }

                .eq-st-ui-public-profile-projects-body-responsible {
                    text-align: right;
                    line-height: 24px;

                    span {
                        line-height: 24px;
                        margin-top: 8px;
                        display: block;
                        font-size: 14px;
                        color: #525558;
                    }
                }

                .eq-st-ui-public-profile-projects-body-colaborators {
                    text-align: right;
                    line-height: 24px;

                    span {
                        line-height: 24px;
                        float: right;
                        .eq-st-ui-public-profile-projects-body-colaborators-avatar {
                            float: right;
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

/* Media */
@media (max-width: $eq-st-ui-screen-xs){

}

@media (max-width: $eq-st-ui-screen-xxs){

}
