// Spaces

.eq-st-ui-public-profile-spaces {

    // Header
    .eq-ui-collapsible-header {

        .eq-st-ui-public-profile-space-title {
            color: #525558;
            .eq-st-ui-public-profile-space-title-avatar-wrap {
                float: left;
                margin-right: 25px;
                .eq-st-ui-public-profile-space-title-avatar {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
            }
            span {
                font-weight: 700;
            }
            i {
                margin-left: 0;
                margin-right: 16px;
            }
        }

        .eq-st-ui-public-profile-space-teams {
            text-align: right;
            font-size: 13px;
            color: #9b9b9b;
            .eq-st-ui-public-profile-space-teams-wrap {
                float: right;
                i {
                    margin-right: 10px;
                }
            }
        }

        .eq-st-ui-public-profile-space-activity {
            text-align: right;
            font-size: 13px;
            color: #9b9b9b;
            span {
                font-weight: 700;
            }
        }
    }

    // Body
    .eq-ui-collapsible-body {

        ul {
            width: 100%;
            padding: 0;
            li {
                margin: 0;
                margin-bottom: 16px;
                font-size: 13px;
                color: #9b9b9b;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 16px;
                border-bottom: 1px solid #ddd;
                &:last-of-type {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                .eq-st-ui-public-profile-space-body-team {

                    span {
                        margin-top: 8px;
                        display: block;
                        font-size: 16px;
                        font-weight: 700;
                        color: #525558;
                    }
                }

                .eq-st-ui-public-profile-space-body-responsible {
                    text-align: right;

                    span {
                        margin-top: 8px;
                        display: block;
                        font-size: 14px;
                        color: #525558;
                    }
                }

                .eq-st-ui-public-profile-space-body-accountable {
                    text-align: right;

                    span {
                        margin-top: 8px;
                        display: block;
                        font-size: 14px;
                        color: #525558;
                    }
                }

                .eq-st-ui-public-profile-space-body-working {
                    text-align: right;

                    span {
                        float: right;
                        .eq-st-ui-public-profile-space-body-working-avatar {
                            float: right;
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

/* Media */
@media (max-width: $eq-st-ui-screen-xs){

}

@media (max-width: $eq-st-ui-screen-xxs){

}
